<?xml version="1.0"?>
<launch>

    <arg name="robot_name"/>
    <arg name="init_pose"/>


    <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
     respawn="false" output="screen" />


    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find limo_gazebo_sim)/config/limo_ackerman_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" 
          respawn="false" output="screen" args="limo_state_controller  
                                limo_fl_steering_hinge_controller limo_fr_steering_hinge_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
