<?xml version="1.0"?>
<launch>

    <group ns="limo1">
        <param name="tf_prefix" value="limo1_tf" />
        <include file="$(find limo_gazebo_sim)/launch/one-robot.launch"> 
            <arg name="robot_namespace" value="/limo1" />
        </include>
    </group>

    <group ns="limo2">
        <param name="tf_prefix" value="limo2_tf" />
        <include file="$(find limo_gazebo_sim)/launch/one-robot.launch"> 
            <arg name="robot_namespace" value="/limo2" />
            <arg name="x" value="4"/>
        </include>
    </group>
</launch>